@model PagedList.IPagedList<DoGoDoManh.Areas.Admin.Data.Category>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div>
        <span style="font-weight: bold;font-size: 30px;">QUẢN LÝ DANH MỤC</span>
        <a href="@Url.Action("Create", "Categories")" class="btn btn-success float-right mr-5">
            + Thêm mới
        </a>
    </div>
    <br />
    <table class="table" style="width: 500px; margin: auto">
        <thead>
            <tr>
                <th scope="col" colspan="5">Tên danh mục</th>
                <th scope="col" colspan="3">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td style="width: 70%" colspan="5">@Html.DisplayFor(modelItem => item.CategoryName)</td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", "Categories", new { id = item.CategoryId }, new { @class = "btn btn-primary" })
                        </td>
                        <td>
                            @Html.ActionLink("Xoá", "Delete", "Categories", new { id = item.CategoryId }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="d-flex" style="justify-content: center;align-items: center;">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>


</div>

