@model DoGoDoManh.Areas.Admin.Data.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div>
        <span style="font-weight: bold;font-size: 30px;">QUẢN LÝ SẢN PHẨM</span>
        <nav aria-label="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Products")">Quản lý sản phẩm</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Xoá sản phẩm</li>
                </ol>
            </nav>
        </nav>
    </div>
    <br />
    <div style="width:500px" class="m-auto">
        <div class="form-group">
            <label for="productName">Tên sản phẩm</label>
            <input type="email" class="form-control" id="productName" value="@Model.ProductName" disabled>
        </div>
        <div class="form-group">
            <label for="productOldPrice">Giá cũ</label>
            <input type="text" class="form-control" id="productOldPrice" value="@Model.OldPrice" disabled>
        </div>

        <div class="form-group">
            <label for="productNewPrice">Giá mới</label>
            <input type="text" class="form-control" id="productNewPrice" value="@Model.CurrentPrice" disabled>
        </div>

        <div class="form-group">
            <label for="productQuantity">Số lượng tồn</label>
            <input type="text" class="form-control" id="productQuantity" value="@Model.InventQuantity" disabled>
        </div>

        <div class="form-group">
            <label for="productDesc">Mô tả</label>
            <textarea class="form-control" id="productDesc" disabled>@Model.Description</textarea>
        </div>
        <div class="form-group">
            <label>Ảnh sản phẩm</label>
            <div>
                <img src="~/wwwroot/imgs/@Model.Image" width="100" height="100" class="img-thumbnail" alt="Sản phẩm 1">
            </div>

            <button type="submit" class="btn btn-primary m-auto" data-toggle="modal" data-target="#modal-delete">Xoá sản phẩm</button>
            <div class="modal" tabindex="-1" role="dialog" id="modal-delete">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">XOÁ SẢN PHẨM</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Bạn có chắc chắn muốn xoá sản phẩm này?</p>
                        </div>
                        <div class="modal-footer">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <button type="submit" class="btn btn-primary">Xoá</button>
                            }
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                        </div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index","Products")" class="btn btn-dark m-auto">Quay lại</a>
        </div>
    </div>

</div>


